/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Hidden by default */
  width: 250px;
  height: 100%;
  background: #343a40; /* Dark background color */
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  color: #fff; /* Text color */
  padding-top: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 15px; /* Rounded edges */
  border-bottom-left-radius: 15px; /* Rounded edges */
}

.sidebar.active {
  right: 0; /* Show sidebar */
}

/* Sidebar Links */
.sidebar ul {
  padding: 20px;
}

.sidebar ul li {
  list-style: none;
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff; /* Link color */
}

/* Three-dot Icon */
.three-dot-icon {
  cursor: pointer;
  font-size: 1.5rem; /* Adjust the size as needed */
}

/* Ensure the body animation */
body {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-search-box {
  margin-left: 10px;
  width: 200px;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

/* Home Component */
.home-container img {
  width: 100%;
  height: auto;
}